<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
				 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
				 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>sakai-portal-shibb</display-name>
	<description>Sakai2 portal: Guanxi</description>
	
	<context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>gsk.root</param-value>
  </context-param>

  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/classes/log4j.properties</param-value>
  </context-param>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      WEB-INF/guanxi_sp_engine/config/spring/application/**/*.xml
			WEB-INF/guanxi_idp/config/spring/application/**/*.xml
    </param-value>
  </context-param>

  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>

  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>

  <!-- ******************************************************************************************* -->
  <!-- Filters -->
  
  <!-- Sakai filter -->
  <filter>
		<filter-name>sakai.request</filter-name>
	  <filter-class>org.sakaiproject.util.RequestFilter</filter-class>
	  <!-- Portal URLs encode the placement, so we don't need it added -->
	  <init-param>
	    <param-name>tool.placement</param-name>
	    <param-value>none</param-value>
	  </init-param>
	  <!-- Don't parse file uploads in the portal, since a tool may handle this itself. -->
	  <init-param>
	    <param-name>upload.enabled</param-name>
	    <param-value>false</param-value>
	  </init-param>
	  <!-- MUST set character encoding in the portal, before parameters are read. -->
	  <init-param>
	    <param-name>encoding.enabled</param-name>
	    <param-value>true</param-value>
	  </init-param>
  </filter>

	<!-- Guanxi Service Provider Guard filter -->
  <filter>
    <filter-name>Guanxi Resource Guard</filter-name>
    <filter-class>org.guanxi.sp.guard.Guard</filter-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/guanxi_sp_guard/config/guanxi-sp-guard.xml</param-value>
    </init-param>
  </filter>
	<!-- ******************************************************************************************* -->

	<!-- ******************************************************************************************* -->
	<!-- Filter mappings -->
	
  <!-- Sakai filter mapping -->
  <filter-mapping>
    <filter-name>sakai.request</filter-name>
    <servlet-name>sakai.portal.shibb</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>

  <!-- Guanxi Service Provider Guard filter mappings -->
  <filter-mapping>
    <filter-name>Guanxi Resource Guard</filter-name>
    <url-pattern>/gx/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Guanxi Resource Guard</filter-name>
    <url-pattern>/protected/*</url-pattern>
  </filter-mapping>
	<!-- **************************************************************************** -->
	
	<!-- ******************************************************************************************* -->
  <!-- Servlets -->

  <!-- Guanxi Guard Session Verifier Service -->
  <servlet>
    <display-name>Guanxi Guard Session Verifier Service</display-name>
    <servlet-name>SessionVerifier</servlet-name>
    <servlet-class>org.guanxi.sp.guard.SessionVerifier</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- Guanxi Guard Attribute Consumer Service -->
  <servlet>
    <display-name>Guanxi Guard Attribute Consumer Service</display-name>
    <servlet-name>GuanxiGuardAttributeConsumerService</servlet-name>
    <servlet-class>org.guanxi.sp.guard.AttributeConsumer</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <!-- Guard Podder -->
  <servlet>
    <display-name>Guanxi Service Provider Guard Policy Engine</display-name>
    <servlet-name>Podder</servlet-name>
    <servlet-class>org.guanxi.sp.guard.Podder</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>

  <!-- Guard Logout -->
  <servlet>
    <display-name>Guanxi Service Provider Guard Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>org.guanxi.sp.guard.Logout</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>

	<!-- Guanxi Service Provider Engine -->
	<servlet>
    <servlet-name>Guanxi Service Provider Engine</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
        WEB-INF/guanxi_sp_engine/config/spring/ui.xml
        WEB-INF/guanxi_sp_engine/config/spring/security/*.xml
        WEB-INF/guanxi_sp_engine/config/spring/services/**/*.xml
        WEB-INF/guanxi_sp_engine/config/spring/profiles/**/*.xml
      </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

	<!-- Guanxi Identity Provider -->
	<servlet>
    <servlet-name>Guanxi Identity Provider</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
        WEB-INF/guanxi_idp/config/spring/ui.xml
        WEB-INF/guanxi_idp/config/spring/farm/*.xml
        WEB-INF/guanxi_idp/config/spring/services/**/*.xml
        WEB-INF/guanxi_idp/config/spring/profiles/**/*.xml
      </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
	<!-- Guanxi WAYF -->
	<servlet>
    <display-name>Guanxi WAYF Service</display-name>
    <servlet-name>WAYF</servlet-name>
    <servlet-class>org.guanxi.wayf.WAYF</servlet-class>

    <!-- Where the sites file is stored -->
    <init-param>
      <param-name>sitesFile</param-name>
      <param-value>/WEB-INF/guanxi_wayf/config/wayf.xml</param-value>
    </init-param>
  </servlet>
	<!-- **************************************************************************** -->
	
	<!-- **************************************************************************** -->
	<!-- Servlet mappings -->
	
	<!-- Sakai shibb portal mapping. By only handling portal-shibb/gx, the rest of the ecosystem
       can be accessed freely, i.e. portal-shibb/SSO, portal-shibb/AA etc. -->
  <servlet-mapping>
		<servlet-name>sakai.portal.shibb</servlet-name>
		<url-pattern>/gx/*</url-pattern>
  </servlet-mapping>
	
	<!-- Core Engine endpoints -->
  <servlet-mapping>
    <servlet-name>Guanxi Service Provider Engine</servlet-name>
    <url-pattern>*.gxEngine</url-pattern>
  </servlet-mapping>
	<!-- Guanxi Engine entity registration service -->
  <servlet-mapping>
    <servlet-name>Guanxi Service Provider Engine</servlet-name>
    <url-pattern>/guanxi_sp/register/*</url-pattern>
  </servlet-mapping>
  <!-- Guanxi Engine Shibboleth endpoints -->
  <servlet-mapping>
    <servlet-name>Guanxi Service Provider Engine</servlet-name>
    <url-pattern>/guanxi_sp/shibb/*</url-pattern>
  </servlet-mapping>
	
	<!-- Guanxi Guard Session Verifier service -->
	<servlet-mapping>
    <servlet-name>SessionVerifier</servlet-name>
    <url-pattern>*.sessionVerifier</url-pattern>
  </servlet-mapping>
	<!-- Guanxi Guard Attribute Consumer service -->
  <servlet-mapping>
    <servlet-name>GuanxiGuardAttributeConsumerService</servlet-name>
    <url-pattern>*.guanxiGuardACS</url-pattern>
  </servlet-mapping>
	<!-- Guanxi Guard Podder service -->
  <servlet-mapping>
    <servlet-name>Podder</servlet-name>
    <url-pattern>*.guanxiGuardPodder</url-pattern>
  </servlet-mapping>
	<!-- Guanxi Guard Logout service -->
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>*.guanxiGuardlogout</url-pattern>
  </servlet-mapping>

  <!-- Core Guanxi IdP endpoints -->
  <servlet-mapping>
    <servlet-name>Guanxi Identity Provider</servlet-name>
    <url-pattern>*.gxIdP</url-pattern>
  </servlet-mapping>
  <!-- Guanxi IdP Shibboleth endpoints -->
  <servlet-mapping>
    <servlet-name>Guanxi Identity Provider</servlet-name>
    <url-pattern>/guanxi_idp/shibb/*</url-pattern>
  </servlet-mapping>
  <!-- Aliases to be mapped by the Guanxi IdP UrlRewriter -->
  <servlet-mapping>
    <servlet-name>Guanxi Identity Provider</servlet-name>
    <url-pattern>/SSO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Guanxi Identity Provider</servlet-name>
    <url-pattern>/AA</url-pattern>
  </servlet-mapping>

	<!-- Guanxi WAYF -->
  <servlet-mapping>
    <servlet-name>WAYF</servlet-name>
    <url-pattern>/guanxi_wayf/WAYF</url-pattern>
  </servlet-mapping>
	<!-- **************************************************************************** -->
</web-app>
